
.header {
  width: 100%;
  background-color: white;
  padding: 10px 0px;
  margin: 0px;
  height: 60px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 100;
  
  .left {
    display: flex;
    align-items: center;
    margin-left: 40px;

    > img {
      height: 40px;
    }

    > h1 {
      color: rgb(249,88,89);
      font-family: Inter, Arial;
      font-weight: 700;
      font-size: 24px;
      margin: 12px;
    }
  }

  .middle {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    gap: 40px; 
    
    > a {
      color: rgb(128,128,128);
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;

      &:hover {
        color: rgb(249,88,89);
      }
    }
  }

  .right {
    margin-right: 40px;

    > button {
      background: linear-gradient(rgb(250,138,138), rgb(249,88,89));
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border: none;
      padding: 8px 18px;
    }
  }
}